backports.functools-lru-cache==1.5
configparser==3.7.4
contextlib2==0.5.5
control==0.8.2
cycler==0.10.0
Cython==0.29.10
deap==1.2.2
DeCiDa==1.1.5
decorator==4.4.0
easygui==0.98.1
EasyProcess==0.2.7
empy==3.3.4
entrypoint2==0.0.6
future==0.18.2
graphviz==0.11
html==1.16
importlib-metadata==0.18
kiwisolver==1.1.0
matlabengineforpython===R2020b
matplotlib==2.2.4
memory-profiler==0.55.0
mpmath==1.1.0
multithreads-mutual==0.0.0
networkx==1.9
numpy==1.16.4
objgraph==3.4.1
pandas==0.24.2
path.py==11.5.2
pathlib2==2.3.3
plotly==4.3.0
psidialogs==0.1.0
psutil==5.6.3
pyDOE==0.3.8
pydot==1.4.1
pydot-ng==2.0.0
PyKrige==1.4.1
Pympler==0.7
pyparsing==2.4.0
pypiwin32==223
PySide==1.2.4
python-dateutil==2.8.0
pytz==2019.1
pywin32==224
retrying==1.3.3
scandir==1.10.0
scikit-learn==0.20.3
scipy==1.2.2
seaborn==0.9.0
simplejson==3.17.0
six==1.12.0
sklearn==0.0
sobol==0.9
sympy==1.4
tqdm==4.32.1
zipp==0.5.1
